Django==5.1.4
djangorestframework==3.15.2
django-cors-headers==4.6.0
django-filter==24.3
Pillow==11.1.0
gunicorn==23.0.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
requests==2.32.3
uuid==1.30
whitenoise==6.8.2
dj-database-url==3.1.2
django-jazzmin==3.0.1
reportlab>=4.0
celery[redis]>=5.3
django-celery-beat>=2.6
efipay>=1.0
